header {
    background-color: black;
    color: white;
    text-align: center;
}

main {
    background-color: rgb(192, 181, 181);
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}


body {
    background-image: url('record.png');
    background-size: 200px;
    background-repeat: round-1;
    margin: 0;
}
 ul {
    color: red;
    background-color:  rgb(192, 181, 181);
    margin: 1;
 }